body {
    background: #1a1a1a;
    max-width: 1000px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
    color: #fff;
}

.text-box-model {
    display: block;
}

.text-box-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0;
}